body{
    background-color: black;
}

img{
    float:right;
}

p {
 color:rgb(255, 255, 255)
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
 font-family: sans-serif;
}


img{
    float:right;
    width: auto ;
    height:auto;
    margin: auto;
    border-color: black;
    border-width: auto;
    border-style: solid;
    border-radius: auto;

}

