body{
    background-color: rgb(255, 255, 255);
}


p {
 color:rgb(0, 0, 0)
text-align
}


title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

h2{
 font-family: sans-serif;
}


h3{
 font-family: sans-serif;
}

h4{
    font-family:sans-serif;
}

h5{
    font-family: sans-serif;
}




brawlstars logo.png image{
    float:middle;
    width:100px ;
    height: 50x;;
    margin: auto;
    border-color: black;
    border-width: auto;
    border-style: solid;
    border-radius: auto;
}

